<div class="main-container">
  <div>
    <h1 class="h1">Where Learning Meets Innovation:</h1>
    <p class="p1">Discover Abiva's Mobile App Today!</p>
    <button class="btnSignup" (click)="scrollToLastContainer()">SignUp</button>
  </div>
  <img class="image" src="assets/Untitled-1white.png" alt="..." />
</div>

<div id="TSP">
  <div class="middle-container">
    <div class="middle-column">
      <img class="middle-image" src="assets/Teacher.jpg" alt="..." />
      <p class="mp">"For Teachers: Revolutionize<br>Your Classroom!"</p>
      <ul class="mpul">
        <li>"Effortlessly manage lessons and assignments."</li>
        <li>"Access a rich library of educational resources."</li>
        <li>"Enhance communication with students and parents."</li>
      </ul>
    </div>
    <div class="middle-column">
      <img class="middle-image" src="assets/Students.jpg" alt="..." />
      <p class="mp">"For Students: Fuel Your<br>Learning Journey!"</p>
      <ul class="mpul">
        <li>"Access interactive lessons and quizzes."</li>
        <li>"Stay organized with your assignments and deadlines."</li>
        <li>"Learn at your own pace, anytime, anywhere."</li>
      </ul>
    </div>
    <div class="middle-column">
      <img class="middle-image" src="assets/Parents.png" alt="..." />
      <p class="mp">"For Parents: Stay Connected<br> with Your Child's Education!"</p>
      <ul class="mpul">
        <li>"Track your child's progress and assignments."</li>
        <li>"Receive updates on school activities and events."</li>
        <li>"Support your child's learning journey."</li>
      </ul>
    </div>
  </div>
</div>

<div class="last-container" #lastContainer>
  <h1 class="h1LC">Get Started!</h1>
  <p class="p2">Fill up the form to Download our Application</p>
  <div class="form-container">    
    <form (submit)="submitForm()">
        <div class="form-group">
          <label for="Fname">First Name:</label>
          <input type="text" id="Fname" name="Fname" [(ngModel)]="formData.Fname" required>
        </div>
        <div class="form-group">
          <label for="Lname">Last Name:</label>
          <input type="text" id="Lname" name="Lname" [(ngModel)]="formData.Lname" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select id="role" name="role" [(ngModel)]="formData.role" required>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
            <option value="Parent">Parent</option>
          </select>
        </div>
        <button type="submit" class="submit-button">Download Now!</button>
      </form>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <p>&copy;Rhenan Racelis. All Rights Reserved.</p>
      </div>
    </footer>
</div>